* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Roboto', sans-serif;
}

html {
     overflow-x: hidden;
}


.container {
     max-width: 1024px;
     width: 100%;
     margin: 0 auto;
}

.container-flex {
     display: flex;
}

header {
     background-color: #2e62e6;
     padding-top: 16px;
     color: #fff;
     position: sticky;
     top: 0;
     left: 0;
     z-index: 1;
}

header>.container {
     justify-content: space-between;
     align-items: center;
     padding-bottom: 16px;
}

.container ul {
     list-style: none;
     justify-content: space-between;
     display: flex;
     font-weight: bold;
}

.container ul li a {
     text-decoration: none;
     color: inherit;
     margin-right: 20px;
     font-size: 18px;
}

#sobre-a-loja img {
     max-width: 400px;
     margin-right: 24px;
}

section {
     padding: 48px 0;
}

section h2 {
     margin-bottom: 30px;
     padding-bottom: 20px;
     color: #2e62e6;
     font-style: italic;
     border-bottom: 2px solid #2e62e6;
}

.menu {
     margin-left: 80%;
     display: flex;
     list-style: none;
     color: #fff;
     justify-content: space-between;
}

.lista-produtos {
     flex-wrap: wrap;
}

.lista-produtos li {
     list-style: none;
     max-width: 20%;
     margin-bottom: 24px;
}

.lista-produtos li h3 {
     margin: 16px 0;
}

.lista-produtos li img {
     max-width: 100%;
}

.lista-produtos p {
     font-weight: normal;
}

button {
     display: block;
     width: 100%;
     padding: 8px 0;
     border: none;
     background-color: #115097;
     color: #fff;
     font-size: 16px;
     font-weight: bold;
     font-style: italic;
     cursor: pointer;
     border-radius: 6px;
}

button:hover {
     background-color: #08246d;
}

strong {
     margin: 16px 0;
     display: block;
}

@media screen and (min-width: 641px) and (max-width: 1023px) {
     .container {
          max-width: 80%;
     }

     #sobre-a-loja img {
          width: 100%;
          margin: 15px auto;
          margin-bottom: 30px;
     }

     .container-flex {
          display: flex;
          flex-wrap: wrap;
     }

     .lista-produtos li {
          list-style: none;
          max-width: 45%;
          margin-bottom: 24px;
     }
}

@media screen and (max-width: 640px) {
     .container {
          max-width: 90%;
     }

     #sobre-a-loja img {
          width: 100%;
          margin: 15px auto;
          margin-bottom: 30px;
     }

     .container-flex {
          display: flex;
          flex-wrap: wrap;
     }

     .lista-produtos li {
          list-style: none;
          max-width: 90%;
          margin-bottom: 24px;
     }

     header .container {
          display: flex;
          flex-wrap: nowrap;
     }
}